/*Header*/
.header {
    background-color: #000000;
    height: 80px;
    display: flex;
    flex-direction: row;
}

    .header-logo {
        margin: 35px;
    }

    .header-list {
        margin-left: 700px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 15px;
        margin-bottom: 5px;
    }

        a {
            text-decoration: none;
        display: flex;
        margin: 10px 15px;
        align-items: center;
        padding: 5px 5px;
        cursor: pointer;
        }
        a:active {
            box-shadow: none;
        top: 5px;
        position: relative;
        }
    
/*footer*/
.footer {
    background-color: #000000;
}
    .kontak {
        text-align: center;
        color: #ffffff;
        margin-top: 420px;
    }
    a {
        padding: 20px;
        size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        color: #ffffff;
    }

    .copyright {
        text-align: center;
        color: #ffffff;
    }