@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

$font1:'Roboto'
$fontsize 18px;
$bgcolor: #000000;
$color: #ffffff;

.header-list{
    .konten {
        font-size: 18px;
        font-family: $font1;
    }
}

.footer {
    .Kontak {
        font-family: $font1;
        color: $color;
    }
    .copyright {
        font-family: $font1;
        color: $color;
    }
}